<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaphets.wechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />

        <service
            android:name=".service.HeartBeatService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.IndividualActivity"
            android:label="个人信息"
            android:theme="@style/ActionBarTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yaphets.wehchat.activity.IndividualActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.EditBaseActivity" />
        <activity
            android:name=".activity.SearchFriendActivity"
            android:label="添加好友"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activity.FriendDetailActivity"
            android:label="详细资料"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activity.NewFriendActivity"
            android:label="新的朋友"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".activity.CommunicateActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask"
            android:theme="@style/ActionBarTheme"/>
    </application>

</manifest>